
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    background-color: #181B22; /* Color de fondo oscuro */
}

.nav-img img {
    width: 50px;
    height: auto;
}

h2 {
    margin-bottom: 20px;
    color: #FFF;
}

h3 {
    margin-top: 20px;
    color: #FFF;
}

a {
    text-decoration: none;
    color: rgba(188, 193, 196, 0.847);
}

.btn-variant {
    width: 100px;
    height: 8px;
    background-color: transparent;
    border: 1px solid rgba(133,212,255,.2);
    border-radius: 18px;
    box-shadow: 222;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    transition: background-color .35s;
    display: flex;
    overflow: hidden;
    margin: 2px;
}

.btn-variant.firmar:hover{
    background-color: #a48509;
    color: #181B22;
    border-color: #181B22;
}

.btn-variant:hover {
    border-width: 1px;
    color: rgba(239, 239, 239, 0.847);
    border-color:  rgba(188, 193, 196, 0.847);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 12px;
    border: none;
    border-radius: 18px; /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 14px; 
    transition: background-color .35s ease, box-shadow 0.3s ease;
}

/* Estilo normal */
.btn.normal {
    background-color: #2E2E2E;
    color: white;
}

.btn.normal:hover {
    background-color: #444444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo secundario (gris) */
.btn.secundario {
    background-color: #4B4B4B;
    color: white;
}

.btn.secundario:hover {
    background-color: #5C5C5C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* AAAAAAA */

.RDetalles {
    white-space: normal; 
    padding-right: 200px;
}

/* Estilo alerta (amarillo) */
.btn.alerta {
    background-color: #F4D03F;
    color: #2E2E2E;
}

.btn.alerta:hover {
    background-color: #c4a00e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo aprobado (verde) */
.btn.aprobado {
    background-color: #41be58;
    color: white;
}

.btn.aprobado:hover {
    background-color: #1b781e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn.peligro {
    background-color: #972f24;
    color: white;
}

.btn.peligro:hover {
    background-color: #5e1a12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #555;
    border-radius: 8px; /* Bordes redondeados */
    box-sizing: border-box;
    font-size: 16px;
    background-color: #242A36;
    color: white;
    transition: border-color 0.3s ease;
}

.input:hover {
    border-color: #888;
}

.input:focus {
    border-color: #2ECC71;
    outline: none;
}


.sidebar {
    width: 100px;
    background-color: #242A36; /* Color del menú lateral */
    padding-top: 20px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list {
    list-style: none;
    width: 100%;
}

.nav-list li {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.nav-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 0;
}

.nav-list li a i {
    font-size: 35px;
}

.nav-list li a:hover {
    background-color: #2C3445; /* Color hover */
    transition: 0.3s ease;
}

.content {
    margin-left: 100px;
    padding: 20px;
    margin-top: 5%;
    width: 100%;
    color: #FFFFFF;
}

h1 {
    font-size: 2em;
    color: #FFF;
}

.textarea-expand {
    min-height: 150px;  /* Altura mínima inicial */
    resize: vertical;  /* Permitir que el usuario redimensione verticalmente si es necesario */
    line-height: 1.5;  /* Espaciado entre líneas */
    overflow-y: auto;  /* Mostrar barra de desplazamiento vertical si el contenido es mayor */
}

.input-group {
    display: flex;
    gap: 20px;  /* Espacio entre los elementos */
    justify-content: space-between; /* Ajusta la alineación horizontal */
    margin-bottom: 20px; /* Espacio debajo del grupo de inputs */
}

.input-group .input {
    flex: 1; /* Asegura que ambos inputs ocupen el mismo espacio */
}

select.input {
    flex-basis: 200px; /* Ajusta el ancho del campo de selección si es necesario */
}

p {
    font-size: 1.2em;
    color: #BBB;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
    overflow: auto;
    color:#181B22;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {

    background-color:  #181B22; 
    width: 65%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    overflow: auto;
    border-radius: 20px;

    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.close {
    position: fixed;
    background-color: #972f24 ;
    color: white;
    font-size: 1.4em;
    top: 3%;
    right: 4%;
    text-align: center;
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    cursor: pointer;
    z-index: 999;
    color: #181B22;
    transition: box-shadow 0.3s ease;
    animation: scale-up-center 0.6s; 
}

.close:hover {
    box-shadow: 0 0 2px 2px #5e1a12;
    color: white;
}

.boton {
    position: absolute;
    top: 0; /* A la altura del título */
    right: 0; /* En la esquina derecha */
    margin-right: 20px; /* Separación del borde derecho */
    margin-top: 10px; /* Ajuste de separación con el título */    
}

.boton button {
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 16px;
    background-color: #d8d8d8;
    transition: background-color .35s;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.boton button:hover {
    background-color: #a6a4a4;
}

/* Estilos generales para la tabla */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    background-color: #242A36; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.custom-table thead {
    background-color: #333; 
    color: #d8d8d8;
}

.custom-table th, .custom-table td {
    padding: 12px 15px; 
    border-bottom: 1px solid #d8d8d8;
}

.custom-table tbody tr {
    background-color: #242A36;
    color: #d8d8d8;
}

/* .custom-table tbody tr:hover {
    background-color: #a6a6a6;
    color: #242A36;
}*/

#scrollToTopBtn {
    display: none; 
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    width: 50px;
    border: none;
    outline: none;
    background-color: #666;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
}

#scrollToTopBtn:hover {
    background-color: #444;
    
}


@media (max-width: 768px) { /* Ajusta el ancho según sea necesario */
    .sidebar {
        display: none; /* Oculta la barra lateral en móviles */
    }

    .content {
        margin-left: 0; /* Elimina el margen izquierdo para el contenido */
        padding-bottom: 60px; /* Agrega un espacio en la parte inferior para el navbar */
    }

    .navbar {
        position: fixed; /* Mantiene el navbar en la parte inferior */
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #242A36; /* Color de fondo del navbar */
        display: flex; /* Muestra los elementos en fila */
        justify-content: space-around; /* Espacio entre los elementos */
        padding: 10px 0; /* Espacio superior e inferior */
        z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    }

    .nav-img img {
        width: 30px; /* Tamaño reducido para imágenes en móviles */
        height: auto; /* Mantiene la proporción */
    }

    .nav-list {
        display: flex; /* Muestra la lista de navegación en fila */
        padding: 0;
    }

    .nav-list li {
        margin: 0; /* Elimina el margen */
    }

    .nav-list li a {
        padding: 10px 0; /* Espacio vertical */
    }

    h1, h2, h3, p {
        font-size: 1em; /* Ajusta los tamaños de fuente si es necesario */
    }
    
    .modalDialog > div {
    background-color: #181B22; 
    width: 95%; /* Cambiado a 95% */
    height: 98%; /* Cambiado a 90% */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px; /* Reduce el padding si es necesario */
    overflow: auto;
    border-radius: 20px;
}

/* Ajustes de tamaño de texto dentro del modal */
.modalDialog h2,
.modalDialog h3,
.modalDialog p {
    font-size: 1em; /* Reducir tamaño de fuente */
}

/* Ajustes para los campos de texto */
.input {
    font-size: 14px; /* Reducir el tamaño de la fuente de los inputs */
    padding: 8px 16px; /* Ajustar padding si es necesario */
}

/* Ajuste para los botones */
.btn {
    font-size: 14px; /* Reducir el tamaño de la fuente de los botones */
    padding: 6px 10px; /* Ajustar padding si es necesario */
}

    
}

